/* Layout for desktop version */

/* = RESETS */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}
img, object, embed {max-width: 100%;margin-bottom: 20px;}
p, ul, ol, blockquote {margin-bottom: 24px;}
img {-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;margin-bottom: 20px;}
a img {display: block;}

body {color: #4f4d4b;background: #f5f5f5;font-family: 'PT Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, Arial, Helvetica, sans-serif;font-size: 14px;line-height: 24px;-webkit-text-size-adjust: none;}

/* = BOXES */
.wrap {background: #FFF;margin: 20px 0;padding: 30px 20px;}
.payload {width: 100%;max-width: 960px;margin: 0 auto;overflow: hidden;}
.side {margin-right: 0;float: right;width: 30.8%;}
.main {margin-right: 3.8%;padding: 50px 0 0 0;float: left;width: 60%;}
.footer {margin: 50px 0 0 0;color:#8c8c8c;font-size:13px;}
	.footer-copynone {margin-right: 3.8%;padding: 0;float: left;width: 75%;}
	.footer-toplink {margin-right:0;float:right;width:20%;text-align:right;}

/* = LOGO */
#logo h1 {width: 300px;height: 200px;display: block;background: #FFF url({{site.baseurl}}/img/coffee-comrade.png) no-repeat;margin-bottom: 20px;}
	#logo h1 span {display: none;}
	
/* = POSTS */
.post {margin-bottom:20px}
.post h2, .post p, .post h3 {padding-left: 120px;}
.post p img {margin: 0;padding-left:-120px;}
.post h2, .post h3 {font-family: 'Yanone Kaffeesatz', Arial, sans-serif;font-weight: normal;}
.post h2 {font-size: 25px;color: #32677a;margin:24px 0;}
.post h2 a, .post h2 a:link, .post h2 a:visited, .post h2 a:active {color:#32677a;background:transparent;text-decoration:none;border:none;}
.post h2 a:hover {color:#d94567;text-decoration:underline;}
.post p {font-family: 'PT Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, Arial, Helvetica, sans-serif;font-size: 15px;line-height: 21px;}
.post-meta {margin: 10px 0;padding: 0 0 0 120px;}
.meta-date, .meta-tags {margin: 0;font-size: 12px;font-weight: normal;color: #8c8c8c;}
.meta-tags ul {margin: 0;padding: 0;list-style: none;}
.meta-tags li {margin: 0;padding: 0;display: inline;list-style: none;}
.meta-tags li:after{content: ',';}
.meta-tags li:last-child:after {content:  '';}
.meta-tags li a, .meta-tags li a:link, .meta-tags li a:visited, .meta-tags li a:active {font-weight: normal;color: #874554;padding: 2px 4px;background: #f1f1f1;border: none;}
.meta-tags li a:hover{color:#d94567;}
.related-posts{margin-top:24px;padding:0;}
.related-posts ul {
	margin: 0;
	padding: 0 0 0 120px;
	list-style: none;
}
.related-posts li {
}
#index-posts hr {margin:24px 0 0 120px;color:#DDD;background:#DDD;height:1px;border:none;}
	/* = FOOTNOTES */
	.footnotes ol {margin: 10px 0 20px 120px;font-size: 12px;font-weight: normal;color: #8c8c8c;}
	.footnotes ol li {margin: 0 0 0 20px;}
	.footnotes a {display: inline;font-size: 12px;font-weight: normal;color: #8c8c8c;}
	.footnotes p {margin: 0;padding: 0;display: inline;font-size: 12px;font-weight: normal;color: #8c8c8c;}
	
/* = SIDE */
	/* = BYLINE */
	#byline{}
	#byline a, #byline a:link, #byline a:visited, #byline a:active {border: none;text-decoration: none;text-transform: uppercase;font-size: 13px;	color: #32677a;padding: 3px 5px;}
	#byline a:hover {background: #f1f1f1;}
	#byline a span {text-transform: capitalize;color: #4f4d4b;}
	/* = NAVIGATION */
	#navigation {margin: 20px 0 0 0;}
	#navigation ul {margin: 0 0 0 5px;padding: 0;list-style: none;}
	#navigation li {margin: 0;padding: 0;list-style: none;}
	#navigation a, #navigation a:link, #navigation a:visited, #navigation a:active {border: none;color: #874554;font-weight: normal;text-decoration: none;text-transform: uppercase;font-size: 13px;padding: 3px 5px;}
	#navigation a:hover {color: #d94567;background: #f1f1f1;}

/* = GENERAL TYPOGRAPHY */
span.fancy {font-family:Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif;font-style:italic;font-weight:normal;padding:0 5px;}

h2 {font-family: 'Yanone Kaffeesatz', Arial, sans-serif;font-weight: normal;font-size: 25px;color: #32677a;margin:24px 0;}
h3 {margin: 5px 0 10px 0;font-size: 18px;font-weight: normal;}

a, a:link, a:active {color: #874554;text-decoration: none;border-bottom: 1px solid #4f4d4b;}
a:visited{color: #7b4587;}
a:hover {border: none;}
hr{margin:24px 0 0 0;color:#DDD;background:#DDD;height:1px;border:none;}

blockquote {
    margin: 1em 2em;
    border-left: 1px dashed #999;
    padding-left: 1em; }
blockquote p:first-letter {
    float: left;
    margin: .2em .3em .1em 0;
    font-family: "Monotype Corsiva", "Apple Chancery", fantasy;
    font-size: 220%;
    font-weight: bold; }
blockquote p:first-line {
    font-variant: small-caps; }

/* = DECREASE FONT SIZE FOR SMALLER SCREENS */
@media only screen and (max-width: 1023px) {
	body {font-size: 0.8em;line-height: 1.5em;}
}
/* = REFACTOR LAYOUT FOR MOBILE SCREENS */
@media handheld, only screen and (max-width: 767px) {
	.post h2, .post p, .post h3 {padding-left: 0;}
	.wrap, .payload {width: 100%;margin-left: 0px;margin-right: 0px;padding-left: 0px;padding-right: 0px;}
	.side, .main{width: auto;float: none;margin-left: 0px;margin-right: 0px;padding-left: 20px;padding-right: 20px;}
	#logo h1 {width: 300px;height: 200px;display: block;background: #FFF url(../img/coffee-comrade-mobile.png) no-repeat;margin: 0 auto 20px auto;}
	#byline, #navigation {text-align: center;}
	#navigation li {margin: 0 10px 0 0;padding: 0;list-style: none;display: inline;}
	.post-meta {padding: 0;}

}
