---
---
{% assign color1 = '#30547F' %}{% assign color2 = '#5D7FA6' %}{% assign color3 = '#AAC2D9' %}{% assign background = '#D6D6DE' %}{% assign highlight = '#D9A444' %}
{% comment %} RESETS {% endcomment %}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}
img, object, embed {max-width: 100%;}
img {-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
a img {display: block;}

{% comment %} Jilles.net specifics: start **************** {% endcomment %}

{% comment %} ALL {% endcomment %}
ul, ol, p, blockquote {margin: 0 0 0 0;padding: 0;}
h1 { }
h2 { margin-bottom: 15px; font-size: 2em;}
h3 { margin-bottom: 5px; font-size: 1.2em;}
#indexposts h3 { margin-bottom: 0px; margin-top: 15px;}
.content p { margin: 0 0 15px 0;  }
.content ul, .content ol { margin: 0 0 0 20px; }
.content > ul, .post > ul { margin: 0 0 15px 20px; }
.content > ol, .post > ol { margin: 0 0 15px 20px; }
ul > h3 { margin: 15px 0 0 0; }

blockquote, code {font: 0.875em 'Bitstream Vera Sans Mono','Courier',monospace;
    background-color: #F8F8F8;}

blockquote { margin: 1em 2em;
    padding-top: 10px;
    padding-left: 20px;
    border-left: 1px #000;
    color: #000;
    background-color:rgba(0,0,0,0.15);}

hr{margin:12px 0 12px 0;
    color:#DDD;
    background:#DDD;
    height:1px;
    border:none;}

body{ background-color: #EEE; }

a {color: #000;}
{% comment %} BOXES {% endcomment %}
.grid {}
.content{}
.footer {margin: 5px 0 0 0;color:#8c8c8c;font-size:13px;}
{% comment %} LOGO {% endcomment %}
.banner ul {margin: 0;padding: 0;list-style: none;}
.banner li {margin: 0 10px 0 0;padding: 0;display: inline;list-style: none;}
.banner {font-size: 1em;}
.banner h1 {font-size: 4em;}
.logo a { color: #fff; text-decoration: none;}
.logo { 
    {% comment %} gecko based browsers {% endcomment %}  background: -moz-linear-gradient(top, {{color1}}, {{color2}});
    {% comment %} webkit based browsers {% endcomment %} background: -webkit-gradient(linear, left top, left bottom, from({{color1}}), to({{color2}}));
    color: {{background}};
    padding: 0 0 10px 0;
 }

{% comment %} TYPOGRAPHY {% endcomment %}
.banner h1, h1, h2, h3, h4 {font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif; font-weight: 900;}
.content, .grid {font-family: 'Lato', 'Georgia',  serif; color: #444;}

{% comment %} CONTENT {% endcomment %}
.post-meta {margin: 10px 0;padding: 0 0 0 20px;}
.meta-date, .meta-tags, .post-meta a {margin: 0;font-size: 12px;font-weight: normal;color: #8c8c8c;}
.meta-tags ul {margin: 0;padding: 3px 0 0 0;list-style: none;}
.meta-tags li {margin: 0;padding: 0;display: inline;list-style: none;}
.meta-tags li:after{content: ', ';}
.meta-tags li:last-child:after {content:  '';}
.meta-tags li a, .meta-tags li a:link, .meta-tags li a:visited, .meta-tags li a:active {font-weight: normal;color: #874554;padding: 2px 4px;background: #d1d1d1;border: none;}
.meta-tags li a:hover{color:#d94567;}
.fancy {font-style: italic; font-size: 0.8em;}
{% comment %} Jilles.net specifics: stop  **************** {% endcomment %}

a{
    color: {{ color1  }};
}
a:hover{
    color: {{ highlight }};
}


{% comment %} SimpleGrid neccesaties {% endcomment %}
.grid {
	padding: 0 20px;
}

.row {
}

{% comment %} Titles over images {% endcomment %}
.image              { position: relative; width: 100%; }
h5                  { position: absolute; bottom: 50px; left: 0px; width: 100%; }
h5 span             { color: white; font: 16px 'Quattrocento Sans', Helvetica, Sans-Serif; 
                      background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.7); padding: 10px; }
h5 span.spacer      { padding: 0 2px; background: none; }


.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
