IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*
Options -MultiViews
DirectoryIndex index.html disabled

RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)/+$ $1-aslfjaldsjfsf.html [R=301,L,QSA]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)/+$ http://%{SERVER_NAME}/$1.html [R=301,L,QSA]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)([^/])$ http://%{SERVER_NAME}/$1$2.html [R=301,L,QSA]

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>

ErrorDocument 404 /404.html
