---
layout: default
title: Archives
---
    <h2>Previously on {{site.site_name}}</h2>
                <p><span class="fancy">Note:</span> A <a href="{{site.baseurl}}/tags.html" title="Article Tags List">list of article tags</a> is available for perusing specific topics.</p>
                <ul>{% for post in site.posts %}{% unless post.next %}
                  <h3>{{ post.date | date: '%Y' }}</h3>{% else %}{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}{% if year != nyear %}  
                  <h3>{{ post.date | date: '%Y' }}</h3>{% endif %}
                    {% endunless %}<li><span class="fancy">{{ post.date | date:"%B" }}</span> <a href="{{ site.baseurl}}/{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
                </ul>

