---
layout: home
title: Welcome to Jilles' weblog
---
    <div id="indexposts">
                <p>Thank you for visiting <a href="{{site.url}}/about.html">my corner of the internet</a>.  Most of the writings on this blog are about 
                <a href="{{site.url}}/categories/Technology">Technology</a>,
                <a href="{{site.url}}/categories/Business">Business</a>,
                <a href="{{site.url}}/categories/Reading">Reading</a> or
                <a href="{{site.url}}/categories/Cooking">Cooking</a> (<a href="{{site.url}}/categories/">see all</a>). 
                Feel free to peruse the articles below:</p>
                {% for post in site.posts %}{% unless post.next %}
                  <h3>{{ post.date | date: '%Y' }}</h3>
                  <ul>
                     {% else %}{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}{% if year != nyear %}  
                  </ul>
                  <h3>{{ post.date | date: '%Y' }}</h3>
                  <ul>{% endif %}
                     {% endunless %}<li><span class="fancy">{{ post.date | date:"%B" }}</span> <a href="{{ site.url}}/{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
                  </ul>
    </div><!--/indexposts-->
