/* ==========================================================================
   TYPE
   - Meat
   - Headings
   - Media Query adjustments
   ========================================================================== */

/* Meat
   ========================================================================== */

p {           
    font-size: $fsp;
    line-height: $lh; 
}

.intro {      
    font-size: $fs3; 
    line-height: 1.4em;
}

.post ul li {
    font-size: $fsp;
    line-height: $lh;
    margin-bottom: $lh/3;
}

// Making Calendas work
// Calendas_Plus_Bold.otf  Calendas_Plus_Italic.otf  Calendas_Plus.otf
@font-face {
font-family: 'Calendas Plus';
src: url("/assets/fonts/Calendas_Plus.otf") format("opentype");
}

body { 
  /*text-rendering:optimizeLegibility;*/
  -o-font-feature-settings: 'liga' 1, 'kern';
  -moz-font-feature-settings: 'liga=1', 'kern=1'; /* FF old */
  -moz-font-feature-settings: 'liga' 1, 'kern';
  -ms-font-feature-settings: 'liga' 1, 'kern';
  -webkit-font-feature-settings: 'liga' 1, 'kern';
  font-feature-settings: 'liga' 1, 'kern'; /* Future */
}


/* Headings
   ========================================================================== */

h1,.h1 {      font-size: $fs1; }
h2,.h2 {      font-size: $fs2; } 
h3,.h3 {      font-size: $fs3; } 
h4,.h4 {      font-size: $fs4; } 
h5,.h5 {      font-size: $fs5; } 
h6,.h6 {      font-size: $fs6; } 

.meta {       font-size: $fs6; }

blockquote, blockquote p {  font-size: $fs2; }

.archive input { font-size: $fs2}






// Iphone 

@media only screen and (max-width: $breakpoint-1-max-width) {

p {           
    font-size: $fs5;
    line-height: $lhsmall;
}

.intro {      
    font-size: $fs4; 
    line-height: 1.4em;
}

.post ul li {
    font-size: $fs5;
    line-height: $lhsmall;
    margin-bottom: $lhsmall/2;
}

h1,.h1 {      font-size: $fs2; }
h2,.h2 {      font-size: $fs3; } 
h3,.h3 {      font-size: $fs4; } 
h4,.h4 {      font-size: $fs5; } 
h5,.h5 {      font-size: $fs6; } 
h6,.h6 {      font-size: $fs6; } 

.meta {       font-size: $fs6; }

blockquote, blockquote p {  font-size: $fs4; }

.archive input { font-size: $fs3}

}


