<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Coffee reviews, tasting notes and commentary - Coffee Comrade</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="http://coffeecomrade.com/css/comrade.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic|Yanone+Kaffeesatz:regular,bold" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">$(document).ready(function(){$("p:has(img)").css('padding-left', '0 !important');});</script>
</head>


<body>

	<div class="wrap" id="page">
		<div class="payload">
			<div class="side">
				<div id="logo">
					<a href="http://coffeecomrade.com/" title="Coffee Comrade (Return to index)"><h1><span>COFFEE COMRADE - Coffee reviews, tasting notes and commentary</span></h1></a>
				</div><!--/logo-->
				<div id="byline">
					<a href="http://coffeecomrade.com/contact.html" title="Coffee Comrade, written by Bryan Matthew Warren"><span class="fancy">By</span> Bryan Matthew Warren</a>
				</div><!--/byline-->
				<div id="navigation">
					<ul>
						<li><a href="http://coffeecomrade.com/archives.html" title="#">Archives</a></li>
						<li><a href="http://coffeecomrade.com/colophon.html" title="#">Colophon</a></li>
						<li><a href="http://coffeecomrade.com/contact.html" title="#">Contact</a></li>
						<li><a href="http://coffeecomrade.com/feeds.html" title="#">RSS Feed</a></li>
					</ul>
				</div><!--/navigation-->
			</div><!--/side-->
			<div class="main">
				
				{{ content }}
				
				<div class="footer">
					<div class="footer-copynone">Creative Commons licensed. Please refer to the <a href="http://coffeecomrade.com/colophon.html#license-info">licensing information</a>.</div>
					<div class="footer-toplink"><a href="#top" title="Return to top">Return to top &uarr;</a></div>
				</div><!--/footer-->
			</div><!--/main-->
		</div><!--/payload-->
	</div><!--/wrap-->

</body>

</html>
