---
layout: default
---
<div id="index-posts">
	<!--Post {{ page.id }}-->
	<div id="post-{{ page.id }}" class="post">
		<h2>{{ page.title }}</h2>
		{{ content }}
		<div class="post-meta">
			<div class="meta-date">{{ page.date | date: "%B %d, %Y" }}</div>
			<div class="meta-tags">
				<ul>
					{% for category in page.categories%}
					<li><a href="{{site.baseurl}}/category/{{ category }}/" title="Posts tagged {{ category }}">{{ category }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<hr />
		<div class="related-posts">
			<h3>Related Articles</h3>
			<ul class="posts">
			    {% for post in site.related_posts limit:3 %}
			      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{site.baseurl}}/{{post.url}}/">{{ post.title }}</a></li>
			    {% endfor %}
			  </ul>
		</div>
	</div>
    <div class="prev_next post_nav">
        <p>
        <br/>
        {% if page.previous.url %}
            Previously:&nbsp;<a href="{{site.baseurl}}/{{ page.previous.url }}/" rel="previous" title="{{ page.previous.title }}">{{ page.previous.title | truncatewords: 15 }}</a><br/>
        {% endif %}
        {% if page.next.url %}
            Next:&nbsp;<a href="{{site.baseurl}}/{{ page.next.url }}/" rel="next" title="{{ page.next.title }}">{{ page.next.title | truncatewords: 15 }}</a>
        {% endif %}
        </p>
    </div>
    <div id="disqus_thread"></div>
</div><!--/index-posts-->
